/*公共样式*/
body {
    width: 100%;
    height: 100%;
    background-color: #f3f5f9;
}
/*正则提示*/
.showc::-webkit-input-placeholder {
    color: #df1b19;
}
/*轮播图*/
.bigpic {
    width: 100%;
}
.bigpic img {
    float: left;
    width: 100%;
}
.search {
    position: fixed;
    top: 0;
    width: 100%;
    height: 45px;
    background: url(../icon/search-bg.png) no-repeat center;
    background-size: 100% 45px;
    text-align: center;
    line-height: 45px;
    z-index: 999;
}
/*底部导航栏*/
.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: url(../icon/search-bg.png) no-repeat center;
    background-size: 100% 50px;
    border-top: 1px solid #e7e7e7;
    z-index: 999999999999999999999999;
}
.nav a {
    position: absolute;
    float: left;
    width: 40px;
    height: 40px;
    background-color: #fff;
    box-shadow: 1px 1px 5px #000;
    border-radius: 50%;
}
.nav a:nth-child(1) {
    top: 5px;
    left: 8%;
    background: url(../icon/zhuye.png) no-repeat center;
    background-size: 25px;
}
.nav a:nth-child(2) {
    top: 5px;
    left: 32%;
    background: url(../icon/fenlei.png) no-repeat center;
    background-size: 25px;
}
.nav a:nth-child(3) {
    top: 5px;
    left: 57%;
    position: absolute;
    background: url(../icon/gwc.png) no-repeat center;
    background-size: 25px;
}
.nav a:nth-child(3) em {
    position: absolute;
    top: 1px;
    right: -5px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 17px;
    box-shadow: 1px 1px 5px #000;
}
.nav a:nth-child(4) {
    top: 5px;
    left: 80%;
    background: url(../icon/grzx.png) no-repeat center;
    background-size: 25px;
}
/*回到顶部*/
.return-top {
    position: fixed;
    bottom: 60px;
    right: 10px;
    width: 40px;
    height: 40px;
    box-shadow: 0px 0px 4px #4b4b4b;
    border-radius: 50%;
    background: #fff url(../icon/return-top.png) no-repeat center 5%;
    background-size: 20px;
    color: #666;
    font-size: 12px;
    text-align: center;
    line-height: 55px;
    z-index: 99;
}
/*copyright*/
.copyright {
    float: left;
    width: 100%;
    height: 45px;
    margin: 10px 0;
}
.copyright h1 {
    height: 15px;
    margin-top: 10px;
    color: #999;
    text-align: center;
    line-height: 15px;
}
.copyright h2 {
    height: 15px;
    margin-top: 5px;
    background: url(../icon/icon_masapin.png) no-repeat 24% center;
    background-size: 13px;
    color: #999;
    text-align: center;
    line-height: 15px;
}
@media (max-width:320px) {
    .copyright h2 {
        background: url(../icon/icon_masapin.png) no-repeat 18% center;
        background-size: 14px;
    }
}
@media (min-width:321px) and (max-width:360px) {
    .copyright h2 {
        background: url(../icon/icon_masapin.png) no-repeat 22% center;
        background-size: 14px;
    }
}
@media (min-width:376px) {
    .copyright h2 {
        background: url(../icon/icon_masapin.png) no-repeat 26% center;
        background-size: 14px;
    }
}
/*上拉加载样式*/
.loading {
    display: inline-block;
    width: 2px;
    height: 10px;
    margin-right: 10px;
    background: #000;
    -webkit-animation: load 1s infinite linear;
    -moz-animation: load 1s infinite linear;
    -ms-animation: load 1s infinite linear;
    -o-animation: load 1s infinite linear;
    animation: load 1s infinite linear;
}
@-moz-keyframes load {
    0% { 
        -webkit-transform: rotate(0deg);
    }
    100% {  
        -webkit-transform: rotate(360deg);
    }
}
@-ms-keyframes load {
    0% { 
        -webkit-transform: rotate(0deg);
    }
    100% {  
        -webkit-transform: rotate(360deg);
    }
}
@-o-keyframes load {
    0% { 
        -webkit-transform: rotate(0deg);
    }
    100% {  
        -webkit-transform: rotate(360deg);
    }
}
@keyframes load {
    0% { 
        -webkit-transform: rotate(0deg);
    }
    100% {  
        -webkit-transform: rotate(360deg);
    }
}
/*快捷导航*/
.quick-nav {
    position: fixed;
    bottom: 119px;
    right: 0px;
    width: 45px;
    height: 50px;
    background: rgba(0, 0, 0, 0.7) url(../icon/icon_arrow_left.png) no-repeat 4px center;
    background-size: 15px;
    border-radius: 4px 0 0 4px;
    z-index: 99999999;
}
.quick-nav em {
    float: right;
    width: 27px;
    padding-top: 7px;
    color: #fff;
    font-size: 12px;
}
.quick-nav-mask {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999999;
}
.quick-nav-mask .quick-con {
    position: absolute;
    bottom: 119px;
    right: -165px;
    width: 165px;
    background-color: #fff;
    z-index: 9999999;
}
.quick-nav-mask .quick-con a {
    float: left;
    width: 55px;
    padding: 30px 0 2px 0;
    font-size: 12px;
    text-align: center;
}
.quick-nav-mask .quick-con a:nth-child(1) {
    background: url(../icon/zhuye.png) no-repeat center 4px;
    background-size: 25px;
}
.quick-nav-mask .quick-con a:nth-child(2) {
    background: url(../icon/gwc.png) no-repeat center 4px;
    background-size: 25px;
}
.quick-nav-mask .quick-con a:nth-child(3) {
    background: url(../icon/grzx.png) no-repeat center 4px;
    background-size: 25px;
}


/*商城主页*/
.index {
    margin-bottom: 55px;
}
.index .search {
    position: fixed;
    top: 0;
    width: 100%;
    height: 45px;
    background: url(../icon/search-bg.png) no-repeat center;
    background-size: 100% 45px;
    text-align: center;
    line-height: 45px;
    z-index: 999;
}
.index .index-bigpic {
    width: 100%;
    margin-top: 45px;
}
.index .index-bigpic img {
    float: left;
    width: 100%;
}
.index .nav-top {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
}
.index .nav-top a {
    float: left;
    width: 25%;
    height: 50px;
    color: #666;
    text-align: center;
    line-height: 50px;
}
.index .nav-top .on {
    border-bottom: 1px solid #f00;
    color: #f00;
    font-weight: bold;
}
.index ul {
    display: none;
}
.index ul .demo1 {
    padding: 10px;
    height: 150px;
}
.index ul .demo1 .goods1 {
    float: left;
    position: relative;
    width: 49%;
    height: 100%;
    box-shadow: 1px 1px 5px #000;
    margin-bottom: 2%;
}
.index ul .demo1 .goods1 img {
    float: left;
    width: 100%;
    height: 100%;
}
.index ul .demo1 .goods1 .goods1-name {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 30px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.index ul .demo1 .goods2 {
    float: left;
    position: relative;
    width: 49%;
    height: 48%;
    box-shadow: 1px 1px 5px #000;
    margin-bottom: 2%;
}
.index ul .demo1 .goods2 img {
    float: left;
    width: 100%;
    height: 100%;
}
.index ul .demo1 .goods2 .goods2-name {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 30px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.index .ulon {
    display: block;
}

/*商品分类*/
.classification .search {
    position: fixed;
    top: 0;
    width: 100%;
    height: 45px;
    background: url(../icon/search-bg.png) no-repeat center;
    background-size: 100% 45px;
    text-align: center;
    line-height: 45px;
    z-index: 999;
}
.classification .banner {
    margin-top: 45px;
}
.classification .banner img {
    float: left;
    width: 100%;
}
.classification .tab {
    overflow: scroll;
    width: 98%;
    height: 80px;
    padding: 3px 1%;
    background: #f4f4f4;
}
.classification .tab li {
    overflow: hidden;
    float: left;
    width: 25%;
    height: 40px;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
}
.classification .tab .on {
    background: #fff;
    color: #f00;
    box-shadow: 1px 1px 5px #f00;
}
.classification .tabcon {
    overflow: scroll;
    position: fixed;
    top: 300px;
    bottom: 51px;
    width: 100%;
    background-color: #fff;
}
.classification .tabcon li {
    display: none;
    width: 96%;
    padding: 5px 2% 10px;
}
.classification .tabcon li:nth-child(1) {
    display: block;
}
.classification .tabcon li .bigpic {
    float: left;
    width: 100%;
}
.classification .tabcon li .tabcon-list {
    overflow: hidden;
    float: left;
    max-width: 96%;
    padding: 5px 2%;
    height: 30px;
    margin-bottom: 5px;
    box-shadow: 1px 1px 5px #000;
    line-height: 30px;
}

/*购物车页面*/
.shopping-cart {
    padding: 46px 0 100px 0;
    background-color: #fff;
}
.shopping-cart .delete-mask {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.shopping-cart .delete-mask .delete-list {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 70%;
    height: 100px;
    background-color: #fff;
    border-radius: 10px;
    color: #000;
    font-weight: bold;
    text-align: center;
    line-height: 70px;
}
.shopping-cart .delete-mask .delete-list em {
    color: #e2302e;
}
.shopping-cart .delete-mask .delete-list .cancel-delete {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 40px;
    box-shadow: 1px -1px #e7e7e7;
    color: #535353;
    font-weight: normal;
    text-align: center;
    line-height: 40px;
}
.shopping-cart .delete-mask .delete-list .confirm-delete {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 40px;
    box-shadow: 0px -1px #e7e7e7;
    color: #e2302e;
    font-weight: normal;
    text-align: center;
    line-height: 40px;
}
.shopping-cart .delete-prompt {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 45px;
    z-index: 999;
}
.shopping-cart .content {
    overflow: scroll;
    position: fixed;
    top: 96px;
    bottom: 101px;
    width: 100%;
}
.shopping-cart .content .list {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #fff;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.shopping-cart .content .list .choose {
    float: left;
    width: 10%;
    height: 100%;
}
.shopping-cart .content .list .choose .sel-red1 {
    background: url(../icon/icon_xuanzhong.png) no-repeat center;
    background-size: 100%;
}
.shopping-cart .total-price .all-choose .sel-red {
    background: url(../icon/icon_xuanzhong.png) no-repeat center;
    background-size: 100%;
}
.shopping-cart .content .list .choose em {
    float: left;
    width: 17px;
    height: 17px;
    margin: 45px 0 0 40%;
    border-radius: 50%;
    background-color: #e7e7e7;
}
.shopping-cart .content h2 {
    overflow: hidden;
    float: left;
    width: 80%;
    padding: 0 5%;
    height: 20px;
    margin-top: 12px;
    line-height: 20px;
    font-size: 14px;
}
.shopping-cart .content h3 {
    overflow: hidden;
    float: left;
    width: 80%;
    padding: 0 5%;
    height: 35px;
    color: #666;
    font-size: 12px;
}
.shopping-cart .content h3 span {
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    float: left;
    padding: 0 10px;
}
.shopping-cart .content h3 span b {
    font-weight: normal;
}
.shopping-cart .content h3 span .num {
    width: 15px;
    height: 20px;
    padding: 0 5px;
    outline: none;
    border: 0;
    line-height: 20px;
}
.shopping-cart .content h4 {
    float: left;
    width: 20%;
    padding: 0 8%;
    height: 20px;
}
.shopping-cart .content h4 .price {
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    float: left;
    height: 20px;
    color: #df1b19;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
}
.shopping-cart .total-price {
    position: fixed;
    top: 45px;
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
}
.shopping-cart .total-price .all-choose {
    float: left;
    width: 20%;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    line-height: 50px;
}
.shopping-cart .total-price .all-choose em {
    float: left;
    width: 17px;
    height: 17px;
    margin: 16px 0 0 21%;
    border-radius: 50%;
    background-color: #e7e7e7;
}
.shopping-cart .total-price .all-price {
    float: right;
    width: 55%;
    height: 50px;
    text-align: right;
    line-height: 50px;
}
.shopping-cart .total-price .all-price .total {
    float: right;
    height: 100%;
    padding: 0 10%;
    color: #666;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    line-height: 50px;
}
.shopping-cart .total-price .all-price .total em {
    float: right;
    height: 100%;
    padding-left: 20px;
    background: url(../icon/icon_jifen.png) no-repeat 0px center;
    background-size: 15px;
    color: #df1b19;
    font-weight: bold;
}
.shopping-cart .settlement {
    position: fixed;
    bottom: 51px;
    width: 100%;
    height: 50px;
    background: url(../icon/search-bg.png) no-repeat center;
    background-size: 100% 100%;
}
.shopping-cart .settlement button {
    float: left;
    width: 100%;
    height: 50px;
    color: #333;
    outline: none;
    border: 0;
    background: none;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
}

/*个人中心页面*/
.pc {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f5f5f5;
}
.pc .info {
    position: relative;
    width: 100%;
    height: 115px;
    margin-bottom: 10px;
    background: url(../icon/search-bg.png) no-repeat center;
    background-size: 100% 100%;
    color: #fff;
}
.pc .portrait {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
.pc .more {
    position: absolute;
    top: 25%;
    right: 0;
    width: 15%;
    height: 60px;
    background: url(../icon/icon_arrow_right.png) no-repeat 70% center;
    background-size: 35%;
}
.pc .title {
    height: 45px;
    padding: 0 10px;
    background-color: #fff;
    border-bottom: 1px solid #cbcbcc;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 45px;
}
.pc .content {
    position: fixed;
    overflow: scroll;
    top: 171px;
    bottom: 50px;
    width: 100%;
    margin-top: 10px;
    background-color: #f5f5f5;
}
.pc .content .con {
    display: none;
}
.pc .content .con ul li {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
    box-shadow: 0px 1px rgba(0, 0, 0, 0.1);
}
.pc .content .con ul li .status {
    height: 35px;
    padding: 0 2%;
    color: #e2302e;
    font-weight: bold;
    line-height: 35px;
}
.pc .content .con ul li .info {
    position: relative;
    float: left;
    width: 96%;
    height: auto;
    padding: 2%;
    background: #fff;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 0;
}
.pc .content .con ul li .info .name {
    overflow: hidden;
    float: left;
    width: 100%;
    height: 40px;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    line-height: 20px;
}
.pc .content .con ul li .info .pay-for {
    float: left;
    width: 50%;
    height: 25px;
    color: #df1b19;
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    line-height: 25px;
}
.pc .content .con ul li h4 {
    float: left;
    width: 98%;
    height: 35px;
    padding-left: 2%;
    color: #999;
    line-height: 35px;
}
.pc .content .con ul li h4 span {
    float: right;
    height: 100%;
    color: #e2302e;
    padding-right: 4%;
}
.pc .content .con ul li h4 span em {
    float: right;
    font-weight: bold;
}

/*商品详情页面*/
.goods-details {
    width: 100%;
    padding: 0 0 100px 0;
}
.goods-details .info {
    width: 100%;
    margin-bottom: 10px;
}
.goods-details .title {
    width: 100%;
    background-color: #fff;
}
.goods-details .title span {
    overflow: hidden;
    float: left;
    width: 94%;
    padding: 3%;
}
.goods-details .info .price {
    width: 100%;
    padding-bottom: 10px;
    background-color: #fff;
}
.goods-details .info .price h1 {
    float: left;
    padding: 1% 0 0 6%;
    margin-left: 3%;
    color: #df1b19;
    background: url(../icon/icon_jifen.png) no-repeat 2% 70%;
    background-size: 15px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}
.goods-details .info .price h3 {
    float: right;
    width: 35%;
    padding: 1% 5% 0 0;
    color: #666;
    text-align: right;
}
.goods-details .info .price h3 em {
    color: #666;
}
.goods-details .show-title {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    background-color: #fff;
}
.goods-details .show-title li {
    float: left;
    width: 100%;
    height: 49px;
    text-align: center;
    line-height: 50px;
}
.goods-details .show-title .on {
    color: #000;
    border-bottom: 1px solid #cbcbcc;
}
.goods-details .show-details {
    width: 100%;
    background-color: #fff;
}
.goods-details .show-details li {
    display: none;
    width: 100%;
}
.goods-details .show-details li img {
    width: 100%;
}
.goods-details .join-successful,
.goods-details .join-failure,
.goods-details .collection-successful,
.goods-details .collection-failure {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 45px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 45px;
    z-index: 999;
}
.goods-details .nav-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-top: 1px solid #e7e7e7;
}
.goods-details .nav-bottom .join-collection {
    float: left;
    width: 19.7%;
    height: 50px;
    border-right: 1px solid #e7e7e7;
    color: #666;
    font-size: 12px;
    text-align: center;
    line-height: 80px;
}
.goods-details .nav-bottom .join-collection1 {
    background: url(../icon/icon_shoucang_n.png) no-repeat center 6px;
    background-size: 35%;
}
.goods-details .nav-bottom .join-collection2 {
    background: url(../icon/icon_shoucang_p.png) no-repeat center 6px;
    background-size: 35%;
}
.goods-details .nav-bottom a:nth-child(2) {
    position: relative;
    float: left;
    width: 20%;
    height: 50px;
    background: url(../icon/gwc.png) no-repeat 50% 6px;
    background-size: 25px;
    color: #666;
    font-size: 12px;
    text-align: center;
    line-height: 80px;
}
.goods-details .nav-bottom a:nth-child(2) em {
    position: absolute;
    top: 1px;
    right: 12%;
    width: 17px;
    height: 17px;
    background-color: red;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 17px;
}  
.goods-details .nav-bottom .join-cart {
    float: left;
    width: 100%;
    height: 50px;
    background: url(../icon/search-bg.png) no-repeat center;
    background-size: 100% 100%;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
}
.goods-details .mask {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999999999;
}
.goods-details .mask .mask-con {
    position: absolute;
    bottom: 50px;
    width: 100%;
    height: 300px;
    background-color: #fff;
}
.goods-details .mask .mask-con .mask-title {
    width: 100%;
    height: 55px;
    border-bottom: 1px solid #e7e7e7;
}
.goods-details .mask .mask-con .mask-title h4 {
    float: left;
    width: 64%;
    height: 100%;
    font-size: 18px;
    padding-left: 10px;
    font-weight: bold;
    text-align: left;
    line-height: 55px;
}
.goods-details .mask .mask-con .mask-title .price {
    position: absolute;
    top: 28px;
    left: 24%;
    width: 61%;
    height: 20px;
    line-height: 20px;
}
.goods-details .mask .mask-con .mask-title .price h1 {
    float: left;
    height: 20px;
    padding-left: 8%;
    padding-top: 0;
    color: #df1b19;
    background: url(../icon/icon_jifen.png) no-repeat 1% center;
    background-size: 16px;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    line-height: 20px;
}
.goods-details .mask .mask-con .mask-title .mask-close {
    float: right;
    width: 15%;
    height: 100%;
    background: url(../icon/close.png) no-repeat center;
    background-size: 35px;
}
.goods-details .mask .mask-con .mask-content {
    position: absolute;
    overflow: scroll;
    top: 56px;
    bottom: 45px;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
}
.goods-details .mask .mask-con .mask-content li {
    width: 96%;
    padding: 5px 2%;
    border-bottom: 1px solid #e7e7e7;
}
.goods-details .mask .mask-con .mask-content li p {
    width: 99%;
    height: 30px;
    padding-left: 1%;
    font-size: 14px;
    text-align: left;
    line-height: 30px;
}
.goods-details .mask .mask-con .mask-content li .type-choose {
    width: 100%;
}
.goods-details .mask .mask-con .mask-content li .type-choose input {
    float: left;
    margin: 5px 1%;
    padding: 3px 0;
    border: 1px solid #e7e7e7;
    border-radius: 7px;
    font-size: 12px;
    outline: none;
    width: 60px;
    overflow-x:visible;
    text-align: center;
}
.goods-details .mask .mask-con .mask-content li .type-choose .on {
    font-weight: bold;
    box-shadow: 1px 1px 5px #000;
}
.goods-details .mask .mask-con .mask-num {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
}
.goods-details .mask .mask-con .mask-num p {
    float: left;
    padding: 0 10px;
    height: 45px;
    padding-left: 3%;
    text-align: left;
    line-height: 45px;
}
.goods-details .mask .mask-con .mask-num .form {
    float: left;
    width: 10%;
    height: 100%;
    margin-right: 2%;
}
.goods-details .mask .mask-con .mask-num .form div {
    float: left;
    width: 100%;
    height: 100%;
}
.goods-details .mask .mask-con .mask-num span {
    float: left;
    width: 25%;
    height: 27px;
    font-size: 16px;
    text-align: center;
    line-height: 27px;
}
.goods-details .mask .mask-con .mask-num input {
    float: left;
    width: 25px;
    height: 25px;
    outline: none;
    margin-top: 9px;
    border: 1px solid #999;
    background-color: #fff;
    text-align: center;
    line-height: 25px;
}
.goods-details .mask .nav3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}
.goods-details .mask .nav3 button {
    float: left;
    width: 100%;
    height: 50px;
    background: url(../icon/search-bg.png) no-repeat center;
    background-size: 100% 100%;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    outline: none;
    border: 0;
}

/*商品结算页面*/
.goods-settlement {
    padding-bottom: 46px;
    background-color: #fff;
}
.goods-settlement .content {
    overflow: scroll;
    position: fixed;
    top: 0;
    bottom: 45px;
    width: 100%;
}
.goods-settlement .content .info {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #fff;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.goods-settlement .content h2 {
    overflow: hidden;
    float: left;
    width: 90%;
    padding: 0 5%;
    height: 20px;
    margin-top: 12px;
    line-height: 20px;
    font-size: 14px;
}
.goods-settlement .content h3 {
    overflow: hidden;
    float: left;
    width: 90%;
    padding: 0 5%;
    height: 35px;
    color: #666;
    font-size: 12px;
}
.goods-settlement .content h3 span {
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    float: left;
    padding: 0 10px;
}
.goods-settlement .content h3 span b {
    font-weight: normal;
}
.goods-settlement .content h3 span .num {
    width: 15px;
    height: 20px;
    padding: 0 5px;
    outline: none;
    border: 0;
    line-height: 20px;
}
.goods-settlement .content h4 {
    float: left;
    padding: 0 8%;
    height: 20px;
    color: #f00;
}
.goods-settlement .content h4 .price {
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    float: right;
    height: 20px;
    color: #df1b19;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
}
.goods-settlement .content .courier,
.goods-settlement .content .address-info {
    float: left;
    width: 94%;
    height: 45px;
    padding: 0 3%;
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
    color: #999;
    line-height: 45px;
}
.goods-settlement .content .address-info input {
    float: right;
    width: 70%;
    height: 100%;
    outline: none;
    border: 0;
    text-align: right;
}
.goods-settlement .content .courier em {
    float: right;
    color: #333;
}
.goods-settlement .content h1 {
    float: left;
    width: 94%;
    height: 45px;
    padding: 0 3%;
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
    color: #999;
    line-height: 45px;
}
.goods-settlement .content h1 span {
    float: right;
    height: 100%;
    margin-left: 2%;
    padding-left: 7%;
    color: #df1b19;
    font-size: 15px;
    font-weight: bold;
    text-align: right;
}
.goods-settlement .nav-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 45px;
    border-top: 1px solid #e7e7e7;
    background-color: #fff;
    z-index: 999;
}
.goods-settlement .nav-bottom button {
    float: right;
    width: 100%;
    height: 45px;
    background: url(../icon/search-bg.png) no-repeat center;
    background-size: 100%;
    color: #333;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    line-height: 45px;
    outline: none;
    border: 0;
}